* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root {
    --index: calc(1vw + 1vh);
}
@font-face {
    font-family: outfit-bold-my;
    src: url(..//fonts/Outfit-Bold.woff2);
}
@font-face {
    font-family: outfit-regular-my;
    src: url(..//fonts/Outfit-Regular.woff2);
}
body {
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #1D2127;
    overflow: hidden;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 30px;
    background-color: #1D2127;
    border: #1D2127 5px solid;
    border-radius: 5px;
}
.logo {
    color: #D9D9D9;
    font-size: 25px;
    font-weight: 700;
    font-family: outfit-regular-my;
}
.logo:hover {
    opacity: 0.8;
    transition: 0.2s;
}
.navbar li {
    margin: -10px 5px; /* Задайте нужное значение */
}
.navbar {
    display: flex;
}
.navbar button {
    font-size: 25px;
    font-weight: 500;
    font-family: outfit-regular-my;
    padding: 10px 20px;
    margin: 0 5px;
    color: #D9D9D9;
    background-color: transparent;
    transition: all .45s ease;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.navbar button:hover {
    opacity: 0.8;
}

.header-btn button{
    padding: 10px 0px;
    color: #D9D9D9;
    font-size: 15px;
    font-weight: 600;
    font-family: outfit-regular-my;
    margin-right: 10px;
}

.header-btn .sign-up {
    background-color: transparent;
    color: #D9D9D9;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0.8em;
    padding: 12px 30px;
    border: #D9D9D9 1px solid;
    outline: none;
    cursor: pointer;
}

.header-btn .sign-in {
    background-color: #D9D9D9;
    color: #1D2127;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0.8em;
    padding: 12px 30px;
    border: #D9D9D9 1px solid;
    outline: none;
    cursor: pointer;
     z-index: 1; /* добавлено свойство z-index */
}

.header-btn .sign-in:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.header-btn .sign-up:hover {
    opacity: 0.8;
    transition: 0.3s;
}
.header-btn .name {
    background-color: transparent;
    color: #D9D9D9;
        font-size: 25px;
    /* border-radius: 10em; */
    padding: 10% 30px;
    /* border: #D9D9D9 1px solid; */
    outline: none;
    cursor: pointer;
    border: none;
}
.header-btn .name:hover {
    opacity: 0.8;
    transition: 0.3s;
}

/*.container {*/
/*    position: relative;*/
/*    min-height: 100vh;*/
/*    padding-top: 20px;*/
/*}*/

/*.container h1 {*/
/*    color: #D9D9D9;*/
/*    text-align: center;*/
/*    margin-top:4%;*/
/*    font-size: 50px;*/
/*    padding: 40px;*/
/*    font-weight: normal;*/
/*    font-family: outfit-regular-my;*/
/*    text-shadow: 2px 2px 1px rgba(217, 217, 217, 0.8);*/
/*}*/


.container {
    position: relative;
    min-height: 100vh;
    padding-top: 20px;
}

.convert-button{
    /* display: flex;
    justify-content: center;
    align-items: center;
    /* height: 120vh; */
   /* margin-top: 80px;
    position: absolute;
    flex-direction: column;
    margin-left: auto; /* Add this line to align the button to the center */
    /*margin-right: auto; /* Add this line to align the button to the center */
    margin-top: 80px;
  /* width: 300px;
  height: 600px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto; /* Add this line to align the button to the center */
  margin-right: auto; /* Add this line to align the button to the center */
}
.convert-button button{
    font-family: outfit-regular-my;
    /* font-weight: 600; */
    font-size: 25px;
    background-color: #D9D9D9;
    color: #1D2127;
    border-radius: 10em;
    padding: 10px 40px;
    border: none;
    outline: none;
    cursor: pointer;


}
/*dropdown menu*/
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #fafafa;
}
.dropdown {
    /* --dropdown-size: calc(var(--index)*500);
    width: var(--dropdown-size); */
      position: relative;
      top: 50px;
      left: 50% - 150px;
      margin-top: 15px;
      width: 300px;
      height: 50px;
}
/*
.dropdown::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1000;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
    margin-top: 40px;
}

.dropdown.active::before {
    top: 22px;
    transform: rotate(-225deg);
}
*/
.dropdown input, .dropdown select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    font-size: 1.2em;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    border-radius: 10px;
}

.dropdown .option {
    position: absolute;
    top: 70px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.dropdown.active .option {
    display: block;
}

.dropdown .option div {
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown .option div:hover {
    background: #62baea;
    color: #fff;
}

.option {
    top: 88px;
  }

  .dropdown {
    margin-top: 100px;
    width: 300px;
    height: 50px;
    flex-direction: column;
    left: 50% - 150px;
  }

  .dropdown + .dropdown {
    margin-top: 20px;

  }

  .container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    background: #fafafa;
    flex-direction: column;
  }

.dropdown {
    margin-top: 35vh;
    width: 300px;
    height: 50px;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #1D2127;
    font-family: outfit-regular-my;
}

.dropdown h2{
    color: #D9D9D9;
    font-size: 25px;
    text-align: center;
    font-family: outfit-regular-my;
    position: absolute;
    /* top: 20%; */
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    margin-bottom: -40px;
}
.dropdown .text-box {
    position: relative;
    margin-top: 40px;
  }

  .dropdown .text-box::after {
    content: "";
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: gray;
  }
.file-upload {
    /* position: relative;
    display: inline-block; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: -20px;
  }

  #file-name {
    display: inline-block;
    width: 200px;
    padding: 6px;
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    background-color: transparent;
    color: #D9D9D9;
    font-family: outfit-regular-my;
    font-size: 20px;

  }

  .file-input-label {
    display: inline-block;
    padding: 6px 10px;
    background-color: rgba(200, 83, 83, 1);
    color: #1D2127;
    cursor: pointer;
    border-radius: 4px;
    font-family: outfit-regular-my;
    font-size: 20px;
      margin-left: 60px;
  }

  #file-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }

@media (max-width: 1530px) {
    header {
        padding: 18px 3%;
        transition: .2s;
    }
}

@media (max-width: 1070px) {
    header {
        padding: 12px 3%;
        transition: .2s;
    }

    /* #menu-icon{
        display: block;
    } */

    .sign-up{
        display: none;
    }

    .header {
        position: absolute;
        font-size: 12px;
    }

    .navbar{
        position: absolute;
        top: 12px;
        left: 100px;
        right: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all .50s ease;
            /* position: fixed;
            top: 0;
            left: 0;
            right: 0; */
        /* text-align: left; */
    }

    .navbar button {
        font-size: 12px;
    }
    .header-btn button{
        font-size: 12px;
        font-weight: 600;
    }

    .logo {
        font-size: 12px;
    }
    .header-btn .sign-in {
        padding: 8px 16px;
        font-size: 12px;
    }
    .header-btn .name {
    background-color: transparent;
    color: #D9D9D9;
        font-size: 12px;
    /* border-radius: 10em; */
    padding: 10% 30px;
    /* border: #D9D9D9 1px solid; */
    outline: none;
    cursor: pointer;
    border: none;
}
}

@media (max-width: 768px) {
    .container .popup-video video {
        width: 95%;
    }

    .container h1{
        padding: 40px;
        font-size: 25px;
        margin-top: 7%;
    }
    .dropdown h2{
        font-size: 16px;
    }

    .convert-button button{
        font-family: outfit-regular-my;
        /* font-weight: 600; */
        font-size: 16px;
        background-color: #D9D9D9;
        color: #1D2127;
        border-radius: 10em;
        padding: 8px 25px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    #file-name {
        width: 120px;
        padding: 3px;
        font-size: 12px;
    }
      .dropdown input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background: #fff;
        font-size: 1em;
        border: none;
        outline: none;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
        padding: 12px 20px;
        border-radius: 10px;
    }
    .file-input-label {
        display: inline-block;
        padding: 4px 6px;
        background-color: rgba(200, 83, 83, 1);
        color: #1D2127;
        cursor: pointer;
        border-radius: 4px;
        font-family: outfit-regular-my;
        font-size: 12px;
    }
    .dropdown {
        width: 225px;
    }

}
