<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_json.css') }}">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <style>
        #editor {
            height: 65vh;
            margin-top: 140px; /* Добавлено для создания отступа сверху */
            color: #D9D9D9;
            font-size: 20px;
            margin-left: 10vw;
            margin-right: 10vw;
        }

        h4 {
            margin-bottom: 10px; /* Добавлено для создания отступа снизу */
        }
    </style>
</head>
<body>
<header>
        <a href="{{ url_for('index') }}" class="logo"><h2>J2V</h2></a>

        <div class="bx bx-menu" id="menu-icon"></div>
            <!-- <h2 class="logo"><a href="#">J2V</a></h2> -->
            <ul class="navbar">
                <li><button onclick="window.location.href='{{ url_for('docs_page') }}'">documentation</button></li>
                <li><button onclick="window.location.href='{{ url_for('templates_page') }}'">templates</button></li>
                <li><button onclick="window.location.href='{{ url_for('contacts_page') }}'">contacts</button></li>
            </ul>

            <div class ="header-btn">
                {% if current_user.is_authenticated %}
                    <button class="name" type="button" onclick="window.location.href='{{ url_for('user_profile') }}'">{{ current_user.username }}</button>
                    {% else %}
                    <button class = "sign-up" type="button" onclick="window.location.href='{{ url_for('signup') }}';"> sign up</button>
                 <button class="sign-in" type="button" onclick="window.location.href='{{ url_for('login') }}';">sign in</button>


                    {% endif %}

                <!-- <a href="#" class = "name">name</a> -->
                <!-- <button type="button">sign up</buttom>
                <button type="button">sign in</buttom> -->
            </div>

    </header>
<h4>Edit</h4>
<div id="editor">

<script>
    hljs.configure({languages: ['json'], cssSelector: 'div.ql-container'});
    var quill = new Quill('#editor', {
        theme: 'snow',
        modules: {
            syntax: true,
            toolbar: false // Отключаем верхнюю панель редактора
        }
    });
    // quill.format('code-block', true);
    // hljs.highlightAll();
    quill.setText("{{ content | safe }}");

    var submit_entry = function () {
        var hidden_text_field = document.getElementById('content');
        // hidden_text_field.value = JSON.stringify(quill.getContents());
        hidden_text_field.value = quill.getText();
    }
</script>
    </div>
<form id="edit_form" action="" method="post" enctype="multipart/form-data" onsubmit="submit_entry()">
    {{form.content}}
    <div class="json-button">
        <button class="save-json" onclick="form.submit()"> Save!</button>
    </div>
</form>

</body>
</html>