<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

    <div class="top-buttons">
        <button>documentation</button>
        <button>templates</button>
        <button>contacts</button>
        <div class = "rectangular-buttons">
            <button class="profile" onclick="openLogin()">{{ current_user.username }}</button>
        </div>
    </div>


    <div class="switch">
        <div class="horizontal">
        <ul>
            <div class="history-btn">
            <li><button class="left" >history</button></li>
            </div>
        </ul>

        <div class="form-container">
            <div class="video-grid-container">
            <div class="video-container">
                <div class="video-content-cover">
                    <div class="video-content">
                        <a href="#" class="video-box">
                            <img src="{{ url_for('static', filename='img/1.png') }}" alt="">
                        </a>
                        <div class="video-details">
                            <div class="detail">
                                <h6 class = "title"> My first video</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="video-content-cover">
                    <div class="video-content">
                        <a href="#" class="video-box">
                            <img src="{{ url_for('static', filename='img/1.png') }}" alt="">
                        </a>
                        <div class="video-details">
                            <div class="detail">
                                <h6 class = "title"> My first video</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="video-content-cover">
                    <div class="video-content">
                        <a href="#" class="video-box">
                            <img src="{{ url_for('static', filename='img/1.png') }}" alt="">
                        </a>
                        <div class="video-details">
                            <div class="detail">
                                <h6 class = "title"> My first video</h6>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>

        <ul class="btn-container-second">
        <li><button class="left" onclick="window.location.href='{{ url_for('user_profile') }}'">settings</button></li>
        </ul>

    </div>

    <div class="history-h4">
        <h4>History</h4>
        </div>

</body>
</html>